policy_module(factorio_init, 1.1.0)

########################################
#
# factorio local policy
#

require {
		attribute domain;
		attribute file_type;
		attribute exec_type;
		attribute configfile;
		attribute can_relabelto_binary_policy;
		type unconfined_t;
		type tmp_t;
		type factorio_t;
		type factorio_tmp_t;
		type ld_so_t;
		type fs_t;
		type usr_t;
		type setfiles_exec_t;
		role system_r;
		role unconfined_r;
		class filesystem { associate };
		class dir { write getattr execute read search add_name };
		class process { transition };
		class capability { chown fowner fsetid };
		class file { execute execute_no_trans entrypoint };
		class netlink_selinux_socket { create bind };
		class netlink_audit_socket { create write };
}
########################################
#
# Declarations
#

type factorio_init_t, domain;
type factorio_init_exec_t, file_type, exec_type;
type factorio_init_conf_t, file_type, configfile;
init_daemon_domain(factorio_init_t, factorio_init_exec_t)

# You can uncomment this line and re-compile the module to debug permission issues.
#permissive factorio_init_t;

role system_r types factorio_init_t;
role unconfined_r types factorio_init_t;

#============= unconfined_t ==============
# Allow relabeling from root/unconfined domain, you will need chcon permission or restorecon permission.
factorio_init_manage_file_dirs(unconfined_t);
factorio_init_relabel_file_dirs(unconfined_t);

# Allow transition
factorio_init_domtrans(unconfined_t);
factorio_init_exec(unconfined_t);

#============= factorio_init_t ==============
#
auditallow factorio_init_t factorio_init_exec_t:file { entrypoint };
domain_entry_file(factorio_init_t, factorio_init_exec_t);
factorio_init_exec(factorio_init_t); # Allow recursive execution.

#### Allow relabeling and ownership change back to defined policies.
type factorio_init_set_t, can_relabelto_binary_policy;
auditallow factorio_init_t factorio_init_set_t:process { transition };
domtrans_pattern(factorio_init_t, setfiles_exec_t, factorio_init_set_t);
can_exec(factorio_init_t,setfiles_exec_t);
domain_entry_file(factorio_init_set_t,setfiles_exec_t);
role unconfined_r types factorio_init_set_t;
allow factorio_init_t root_t:dir read_dir_perms; # Must allow to go down the root.
allow factorio_init_t usr_t:dir read_dir_perms; # Must allow to go down opt.
allow factorio_init_t self:netlink_selinux_socket { create bind }; # This is to send auditing information to the log
allow factorio_init_t self:netlink_audit_socket { create write }; # This is to send auditing information to the log
allow factorio_init_set_t user_devpts_t:chr_file { read write open }; # This is to output results.
allow factorio_init_set_t sshd_t:fd { use }; # This is used to output results.
allow factorio_init_set_t factorio_init_t:file { relabelto };
allow factorio_init_set_t factorio_init_t:dir { relabelto };
allow factorio_init_set_t factorio_t:file { relabelto };
allow factorio_init_set_t factorio_t:dir { relabelto };
allow factorio_init_set_t factorio_t:fifo_file { relabelto };
allow factorio_init_set_t factorio_exec_t:file { relabelto };
allow factorio_init_set_t factorio_tmp_t:file { relabelto };
allow factorio_init_t self:capability { chown fowner fsetid };
allow factorio_init_t factorio_t:capability { chown fowner fsetid };

factorio_domtrans(factorio_init_t);
factorio_exec(factorio_init_t);
factorio_manage_file_dirs(factorio_init_t);

allow factorio_init_t factorio_init_conf_t:file read_file_perms;
allow factorio_init_t factorio_init_exec_t:file read_file_perms;
allow factorio_init_t factorio_t:fifo_file { create getattr open read write };
allow factorio_init_t factorio_t:process { noatsecure rlimitinh siginh signal signull };
allow factorio_init_t self:capability net_raw;
allow factorio_init_t self:process { setcap setexec };
allow factorio_init_t self:rawip_socket { create getopt read setopt write };
allow factorio_init_t self:unix_dgram_socket { connect create write };
allow factorio_init_t self:netlink_route_socket { bind create getattr nlmsg_read write read };
allow factorio_init_t self:tcp_socket { connect create getattr getopt setopt read write };
allow factorio_init_t self:udp_socket { bind connect create getattr setopt read write };

## Allowed shared TMP file access
allow factorio_init_t tmp_t:dir { getattr execute read search add_name write };
type_transition factorio_init_t tmp_t:file factorio_tmp_t;
type_transition factorio_init_t tmp_t:dir factorio_tmp_t;
type_transition factorio_init_t tmp_t:lnk_file factorio_tmp_t;
type_transition factorio_init_t tmp_t:sock_file factorio_tmp_t;

# Auto transition the process
type_transition factorio_init_t factorio_exec_t:process factorio_t;
type_transition factorio_init_t ld_so_t:process factorio_t;
# type_transition unconfined_t factorio_init_exec_t:process factorio_init_t; # DO NOT DO THIS! You can't install that way!

allow factorio_init_t usr_t:dir { add_name }; # Allow create subdirectory.
type_transition factorio_init_t usr_t:dir factorio_t; # Create directory as factorio_t.

allow factorio_init_t fs_t:filesystem { associate }; # This is needed to "touch" the .pid and .fifo file. Found using "semodule --disable_dontaudit --build"
allow factorio_init_exec_t fs_t:filesystem { associate }; # This is necessary to avoid corruption when relabeling
allow factorio_init_conf_t fs_t:filesystem { associate };  # This is necessary to avoid corruption when relabeling

kernel_dgram_send(factorio_init_t); # Needed for logging
selinux_validate_context(factorio_init_t); # Used to id -Z
sysnet_read_config(factorio_init_t); # Read network access such as resolver files for ping.

su_exec(factorio_init_t); # Change users when needed.
userdom_manage_home_certs(factorio_init_t);
corecmd_bin_entry_type(factorio_init_t);
corecmd_exec_bin(factorio_init_t);
corecmd_exec_shell(factorio_init_t);
kernel_read_system_state(factorio_init_t);
miscfiles_read_generic_certs(factorio_init_t);
miscfiles_read_localization(factorio_init_t);
files_exec_usr_files(factorio_init_t);
files_read_etc_files(factorio_init_t);
netutils_exec_ping(factorio_init_t);
corenet_tcp_connect_http_port(factorio_init_t);
userdom_use_inherited_user_ptys(factorio_init_t);
auth_read_passwd(factorio_init_t);
logging_create_devlog_dev(factorio_init_t);

## Why is this needed?
auditallow factorio_init_t usr_t:dir { write };
allow factorio_init_t usr_t:dir { write };